@using IT_Project_manager.Models;
@using Microsoft.Identity;

@model IEnumerable<Team>


@{
    ViewData["Title"] = "Teams";
}





<header>
    <h1 id="indexTitle" class="text-center my-4">Teams</h1>
</header>

@if (User.IsInRole( "Administrator" ))
{
    <div>
        <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
    </div>
}

<div class="row">
    @foreach (var team in @Model)
    {
        <div class="col-6">
            <div class="card border-secondary shadow ">
                <div class="card-body text-center">

                    <h2 class="card-title text-center">@team.Name</h2>

                    <h5 class="card-text text-muted "> @team.Description</h5>
                    <hr />
                    <h6><b>Manager</b></h6>
                    @foreach (var manager in team.Managers)
                    {
                        <a asp-controller="Managers" asp-action="Details" asp-route-id="@manager.Id">@manager.Name @manager.Surname</a>
                    }
                    <hr />
                    <h6><b>Members</b></h6>
                    @foreach (var member in team.Members)
                    {
                        <a asp-controller="Members" asp-action="Details" asp-route-id="@member.Id">@member.Name @member.Surname<br /></a>
                    }
                </div>
                <div class="card-footer text-muted">
                    Assigment: @team.AssigmentDate.ToString("yyyy-MM-dd") <span class="text-danger">@team.DeadlineDate.Subtract(team.AssigmentDate).Days days left</span>
                    @if (User.IsInRole( "Administrator" ))
                    {
                        <div class="m-md-2 ">
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@team.Id">Delete</a>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@team.Id">Edit</a>

                        </div>

                    }

                </div>
            </div>

        </div>

    }

</div>




@*<div class="container-fluid my-3">
    <table class="table align-middle  table-bordered shadow table-hover">
        <tr>
            <th>Team name</th>
            <th>Description of team's task</th>
            <th>Assigment date</th>
            <th>Deadline</th>
            <th>Manager</th>
            <th>Members</th>
            @if (User.IsInRole( "Administrator" ))
            {
                <th>Operations</th>
            }

        </tr>



        @foreach (var t in @Model)
        {
            <tr>
                <td>@t.Name</td>
                <td><b>@t.Description</b></td>
                <td>@t.AssigmentDate.ToString("yyyy-MM-dd")</td>
                <td>@t.DeadlineDate.ToString("yyyy-MM-dd")</td>

                <td>
                    @foreach (var manager in t.Managers)
                    {
                        <span><a asp-action="Details" asp-controller="Managers" asp-route-id="@manager.Id">@manager.Name @manager.Surname</a></span>
                    }
                </td>
                <td>
                    @foreach (var member in t.Members)
                    {
                        <span>| <a asp-action="Details" asp-controller="Members" asp-route-id="@member.Id">@member.Name @member.Surname</a> |</span>
                    }
                </td>
                @if (User.IsInRole( "Administrator" ))
                {
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@t.Id">Delete</a>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@t.Id">Edit</a>
                    </td>
                }

            </tr>
        }
    </table>

    @if (User.IsInRole( "Administrator" ))
    {
        <div>
            <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
        </div>
    }
</div>

*@







