@using IT_Project_manager;
@model List<Member>

@{
    ViewData["Title"] = "Members list";
}
<h1> Members</h1>
<br />

<table class="table">

    <tr>
        <th><b>ID</b></th>
        <th><b>Name</b></th>
        <th><b>Name</b></th>
        <th><b>Email</b></th>
        <th><b>Date of birth</b></th>

    </tr>
    @foreach (var member in @Model)
    {

        <tr>

            <td>@member.Id</td>
            <td>@member.Name</td>
            <td>@member.Surname</td>
            <td>@member.Email</td>
            <td>@member.DateOfBirth.ToString("yyyy-mm-dd")</td>
            <td>

            <td class="text-end">
                <a class="btn btn-primary" asp-controller="Members" asp-action="Edit" asp-route-id="@member.Id">Edit</a>
            </td>
            <td class="text-end">
                <a class="btn btn-danger" asp-controller="Members" asp-action="Delete" asp-route-id="@member.Id">Delete</a>
            </td>
                
           
        </tr>

    }
</table>
