@model IEnumerable<IT_Project_manager.Models.Manager>

@{
    ViewData["Title"] = "Managers";
}


<h1 id="indexTitle">Managers</h1>



<div class="container-fluid my-3">
    <form asp-action="Index" method="get" >
        <div class="col-md-2 my-md-2 ">
            <label for="search">Search by name:</label>
            <input type="text" class="form-control" name="search" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary my-1" />
        </div>
    </form>

    <div>
        <table class="table align-middle table-bordered shadow table-hover  ">
            <thead>
                <tr>
                    <th>
                        <b>Name</b>
                    </th>
                    <th>
                        <b>Surname</b>
                    </th>
                    <th>
                        <b>Telephone</b>
                    </th>
                    @if (User.IsInRole( "Administrator" ))
                    {
                        <th>
                            <b>Operations</b>
                        </th>
                    }


                </tr>
            </thead>
            <tbody>
                @foreach (var manager in Model)
                {
                    <tr id="tableData">
                        <td>
                            @manager.Name
                            <br>
                        </td>

                        <td>
                            @manager.Surname
                            <br>
                        </td>

                        <td>
                            @manager.Telephone
                            <br>
                        </td>
                        @if (User.IsInRole( "Administrator" ))
                        {
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@manager.Id">Edit</a> |
                                <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@manager.Id">Details</a> |
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@manager.Id">Delete</a>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>

    </div>
    @if (User.IsInRole( "Administrator" ))
    {
        <a  class="btn btn-outline-primary" asp-action="Create">Create new</a>
    }

</div>



